body {
    background-color: lightblue; color: gold;
    padding-top: 110px;
    padding-bottom: 100px;
}

.subhead {
	background-color: lightslategray;
	height: 100px;
    line-height: 100px;
    clear: both;
    text-align: center;
    /* font-size: px; */
    margin-right: 0px;
    padding-right:0px;
    /* margin-top: 100px; */
}
.block {
    height: 129px;
    visibility: hidden;
}

text {
    cursor: text;
}
a:hover {
    background-color: yellow;
  }
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #560;
    padding: 20px 0px;
    z-index: 99;
    font-family:"Copperplate", Helvetica, Georgia;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
    color: rgb(184, 214, 50);
}    
nav a{
    color: rgb(192, 192, 35);
    text-decoration: underline;
    padding: 10px 40px;
    display: inline-block;
}
.font1 {
    font-family: "Helvetica", Arial;
}
.font2 {
    font-family: "Georgia", Arial;
}
.font3 {
    font-family: "Courier New", Arial;
}
.font4 {
    font-family: "Papyrus", Arial;
}

.footer-logo{
    float: right;
    position: relative;
}


.logo{
    height: 25px;
    width:auto;
    margin-right: 30px;
    /* margin-top: 10px; */
}

.mainlogo{
    float: left;
    position: relative;
    height: 60px;
    width:auto;
    margin-left: 20px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.container h1{
    line-height: 60px;
}
.container h4{
    text-decoration: underline;
    color: rgb(143, 165, 47);
    padding-top: 80px;
}
.imgcontainer{
    padding: 0px 500px;
    float: left;
    position: relative;
    bottom: 400px;
    }


.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: none;
    }
    
    .topnav #myLinks {
    display: none;
    }
    
.topnav a {
    color: yellow;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    }
    
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    }
    
.topnav a:hover {
    background-color: yellow;
    color: black;
    }
    
.active {
    background-color: #560;
    color: white;
    }

    @media (max-width: 800px){
        .topnav {
            display: block;
        }
        .fixed-header {
            display: none;
        }
        .fixed-footer {
            display: none;
        }
        .block {
            height: 0px;
            display: none;
        }
        .subhead {
            margin: 0px;
            padding: 0px;
            display: inline-block;
            margin-bottom: 10px;
        }   
    
    }
